@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .underline-effect {
      position: relative;
      display: inline-block;
      background-image: url('./assets/Vector\ 2.png');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100% 0.3rem 0.50rem;
      padding-bottom: 0.8rem;
      
    }
      
  }
  